<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<title>Author</title>
</head>
<body>
<section class="fh5co-books">
    <div class="site-container">
        <h2 class="universal-h2 universal-h2-bckg">Most Popular Book's Of</br>Arundhati Roy</h2>
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://m.media-amazon.com/images/I/51e-t5G-xgL.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The God of Small Things</h4>
                <span class="single-book__price">$15.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/A1e2MQUYZ0L.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Kashmir: The Case for</br> FreedomWorks of Freedome</h4>
                <span class="single-book__price">$22.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1520327592l/32388712.jpg" height="380px" width="270px"alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The Ministry of</br> Utmost Happiness</h4>
                <span class="single-book__price">$25.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://s3.ap-south-1.amazonaws.com/storage.commonfolks.in/docs/products/images_full/the-hanging-of-afzal-guru-and-the-strange-case-of-the-attack-on-the-indian-parliament_FrontImage_760.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The Hanging of Afzal </br>Guru and the Strange Case</br> of the Attack on the </br>Indian Parliament</h4>
                <span class="single-book__price">$30.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
        </div>
        
    </div>


<section class="fh5co-books">
    <div class="site-container">
        
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1546618032i/40599527._UY400_SS400_.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">My Seditious Heart:</br> Collected Nonfiction</h4>
                <span class="single-book__price">$45.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328696853l/9773.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Come September <h4>
                <span class="single-book__price">$20.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388204087i/9779._UY475_SS475_.jpg" height="380px" width="220px"alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The cost of living</h4>
                <span class="single-book__price">$25.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/517GQG3QPFL.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The chequebook and</br> the cruise missile</h4>
                <span class="single-book__price">$30.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>