<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<title>Author</title>
</head>
<body>

	<!-- Navigation -->
	<nav class="site-navigation">
		<div class="site-navigation-inner site-container">
			<img src="https://aktu.ac.in/images/sir-apjn.png" height="100px" width="150px" alt="site logo">
			
			<div class="main-navigation">
				<ul class="main-navigation__ul">
					<li><a href="#">Author||</a></li>
					<li><a href="page1">A.P.J Abdul Kalam</a></li>
					<li><a href="Tagore">Rabindranath  Tagore</a></li>
					<li><a href="Arundhati">Arundhati Roy</a></li>
					<li><a href="Premchand">Premchand</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</div>
			<div id="myBtn" class="burger-container" onclick="myFunction(this)">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			<script>
				function myFunction(x) {
					x.classList.toggle("change");
				}
			</script>
		
		</div>
		
	</nav>
	<!-- Navigation end -->

	<!-- Top banner -->
	<section class="fh5co-top-banner">
		<div class="top-banner__inner site-container">
			<div class="top-banner__image">
				<img src="https://i.pinimg.com/236x/c0/8e/eb/c08eeb87f90b1d44cce21babae99fdae.jpg" width="600px" height="800px" alt="author image">
			</div>
			<div class="top-banner__text">
				<div class="top-banner__text-up">
					<span class="brand-span">Hello! I'm</span>
					<h2 class="top-banner__h2">Dr.</h2>
				</div>
				<div class="top-banner__text-down">
					<h2 class="top-banner__h2">A.P.J.Abdul Kalam</h2>
					<span class="brand-span">Author, Writer, Traveler</span>
				</div>
				<p>One Man. One Mission. Can He Go Beyond?One Man. One Mission. Can He Go Beyond?</p>
				<a href="biography" class="brand-button">Read bio :)</a>
			</div>
		</div>
	</section>
	<!-- Top banner end -->

	<!-- About me -->
	<section class="fh5co-about-me">
		<div class="about-me-inner site-container">
			<article class="portfolio-wrapper">
				<div class="portfolio__img">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/A._P._J._Abdul_Kalam.jpg/220px-A._P._J._Abdul_Kalam.jpg" class="about-me__profile" alt="about me profile picture">
				</div>
				<div class="portfolio__bottom">
					<div class="portfolio__name">
						<span>Dr.</span>
						<h2 class="universal-h2">A.P.J Abdul Kalam</h2>
					</div>
					<p>“If you fail, never give up because Fail means “First Attempt In Learning”.</p>
				</div>
			</article>
			<div class="about-me__text">
				<div class="about-me-slider">
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">About me</h2>
						<p><span>Avul Pakir Jainulabdeen Abdul Kalam</span></br><span>Dr.</span> A.P.J. Abdul Kalam, in full Avul Pakir Jainulabdeen Abdul Kalam, (born October 15, 1931, Rameswaram, India—died July 27, 2015, Shillong), Indian scientist and politician who played a leading role in the development of India’s missile and nuclear weapons programs. He was president of India from 2002 to 2007.</p>
						<h4>Author</h4>
						<p class="p-white">A. P. J. Abdul Kalam</p>
					</div>
					<div class="about-me-single-slide">
						<h2 class="universal-h2 universal-h2-bckg">About me 2</h2>
						<p><span>F</span>rom 1992 to 1997 Kalam was scientific adviser to the defense minister, and he later served as principal scientific adviser (1999–2001) to the government with the rank of cabinet minister. His prominent role in the country’s 1998 nuclear weapons tests solidified India as a nuclear power and established Kalam as a national hero, although the tests caused great concern in the international community. In 1998 Kalam put forward a countrywide plan called Technology Vision 2020, which he described as a road map for transforming India from a less-developed to a developed society in 20 years. The plan called for, among other measures, increasing agricultural productivity, emphasizing technology as a vehicle for economic growth, and widening access to health care and education.</p>
						<h4>Author</h4>
						<p class="p-white">A. P. J. Abdul Kalam</p>
					</div>
				</div>
			</div>
		</div>
		<div class="about-me-bckg"></div>
	</section>
	<!-- About me end -->

	<!-- Books and CD -->
	<section class="fh5co-books">
		<div class="site-container">
			<h2 class="universal-h2 universal-h2-bckg">New Books And CD</h2>
			<div class="books">
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="https://upload.wikimedia.org/wikipedia/en/3/3a/Wings_of_Fire_by_A_P_J_Abdul_Kalam_Book_Cover.jpg" alt="single book and cd">
						<div class="single-book_download">
							<img src="static/./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Wings of Fire</h4>
					<span class="single-book__price">$15.00</span>
					<!-- star rating -->
					<div class="rating">
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
					</div>
					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="https://penguin.co.in/wp-content/uploads/2020/01/9789353052300_FC.jpg" height="380px" width="270px" alt="single book and cd">
						<div class="single-book_download">
							<img src="static/./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Failure is a Teacher
						(Penguin Petit)</h4>
					<span class="single-book__price">$22.00</span>
					<!-- star rating -->
					<div class="rating">
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
						<span>&#9734;</span>
					</div>
					<!-- star rating end -->
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="https://images-na.ssl-images-amazon.com/images/I/81qImLPNfIL.jpg" height="380px" width="270px"alt="single book and cd">
						<div class="single-book_download">
							<img src="static/./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">Turning Points</h4>
					<span class="single-book__price">$25.00</span>
				</div>
				<div class="single-book">
					<a href="#" class="single-book__img">
						<img src="https://m.media-amazon.com/images/I/51K8WilN1lL.jpg" height="380px" width="270px" alt="single book and cd">
						<div class="single-book_download">
							<img src="static/./images/download.svg" alt="book image">
						</div>
					</a>
					<h4 class="single-book__title">The life tree, poems</h4>
					<span class="single-book__price">$30.00</span>
				</div>
			</div>
			<div class="books-brand-button">
				<a href="page1" class="brand-button">View more</a>
			</div>
		</div>
	</section>
	<!-- Books and CD end -->

	<!-- Counter -->
	<div class="fh5co-counter counters">
		<div class="counter-inner site-container">
			<div class="single-count">
				<span class="count" data-count="50">0</span>
				<div class="single-count__text">
					<img src="static/./images/counter-1.png" alt="counter icon">
					<p>Books</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="600">0</span>
				<div class="single-count__text">
					<img src="static/./images/counter-2.png" alt="counter icon">
					<p>Pages</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="2000">0</span>
				<div class="single-count__text">
					<img src="static/./images/counter-3.png" alt="counter icon">
					<p>Sales</p>
				</div>
			</div>
			<div class="single-count">
				<span class="count" data-count="125">0</span>
				<div class="single-count__text">
					<img src="static/./images/counter-4.png" alt="counter icon">
					<p>Awards</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Counter -->

	<!-- Blog -->
	<section class="fh5co-blog">
		<div class="site-container">
			<h2 class="universal-h2 universal-h2-bckg">My Blog</h2>
			<div class="blog-slider blog-inner">
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="static/./images/blog1.jpg" height="530px" width="300px" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>The Journey Under the ChildHood</h4>
						<span>On July 28, 2015</span>
						<p>He went from distributing newspapers after school during childhood to become the President of our country. He was awarded Padma Bhushan, Padma Vibhushan and Bharat Ratna – the highest civilian honour. Dr. A.P.J. Abdul Kalam made every day of his life count for all it’s worth, till very last breath he took yesterday

							https://thelogicalindian.com/story-feed/get-inspired/journey-of-former-president-dr-apj-abdul-kalam-a-tribute-from-the-logical-indian/.</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="static/./images/blog2.jpg" height="530px" width="300px" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>The Journey Under the Elected</h4>
						<span>On August 28, 2015</span>
						<p>Kalam was elected as the 11th president of India in 2002 with the support of both the ruling Bharatiya Janata Party and the then-opposition Indian National Congress. Widely referred to as the "People's President",[6] he returned to his civilian life of education, writing and public service after a single term. He was a recipient of several prestigious awards, including the Bharat Ratna, India's highest civilian honour.</p>
					</div>
				</div>
				<div class="single-blog">
					<div class="single-blog__img">
						<img src="static/./images/blog2.jpg"height="530px" width="300px" alt="blog image">
					</div>
					<div class="single-blog__text">
						<h4>The Journey Under the Lecturar</h4>
						<span>On August 28, 2015</span>
						<p> While delivering a lecture at the Indian Institute of Management Shillong, Kalam collapsed and died from an apparent cardiac arrest on 27 July 2015, aged 83.[7] Thousands, including national-level dignitaries, attended the funeral ceremony held in his hometown of Rameswaram, where he was buried with full state honours.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog end -->

	<!-- Quotes -->
	<section class="fh5co-quotes">
		<div class="site-container">
			<div class="about-me-slider">
				<div>
					<h2 class="universal-h2 universal-h2-bckg">What Is The Message Of A.P.J Abdul Kalam</h2>
					<p>“Abdul Kalam said "My message, especially to young people is to have courage to think differently, courage to invent, to travel the unexplored path, courage to discover the impossible and to conquer the problems and succeed. These are great qualities that they must work towards”</p>
					<img src="static/./images/quotes.svg" alt="quotes svg">
					<h4>Tulsi Shah</h4>
					<p>Reader</p>
				</div>
				<div>
					<h2 class="universal-h2 universal-h2-bckg">Why Abdul Kalam Is An InsiPiration</h2>
					<p>“He lived as an example of hard work, resilience and positive attitude, and people remember him as the most beloved president. He was known to be the “missle man” for his work on the development of science and technology. These values of A P J Abdul Kalam are so inspirational and motivational.”</p>
					<img src="static/./images/quotes.svg" alt="quotes svg">
					<h4>Tulsi Shah</h4>
					<p>Reader</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Quotes end -->

	<!-- Social -->
	<section class="fh5co-social">
		<div class="site-container">
			<div class="social">
				<h5>Follow me!!</h5>
				<div class="social-icons">
					<a href="https://twitter.com/i/flow/signup" target="_blank"><img src="static/images/./social-twitter.png" alt="social icon"></a>
					<a href="https://in.pinterest.com/login/" target="_blank"><img src="static/images/./social-pinterest.png" alt="social icon"></a>
					<a href="https://www.youtube.com/" target="_blank"><img src="static/images/./social-youtube.png" alt="social icon"></a>
					<a href="https://twitter.com/i/flow/signup" target="_blank"><img src="static/images/./social-twitter.png" alt="social icon"></a>
				</div>
				<h5>Share it!</h5>
			</div>
		</div>
	</section>
	<!-- Social -->

	<!-- Footer -->
	<footer class="site-footer">
		<div class="site-container">
			<div class="footer-inner">
				<div class="footer-info">
					<div class="footer-info__left">
						<img src="https://cdn.britannica.com/56/148856-004-2F59E2D9/APJ-2008.jpg" height="300px" width="250px" alt="about me image">
						<p>Read more about me</p>
					</div>
					<div class="footer-info__right">
						<h5>Get In Touch</h5>
						<p class="footer-phone">Phone: +91 8595960349</p>
						<p>Email : tulsishah668@gmail.com</p>
						<div class="social-icons">
							<a href="https://twitter.com/i/flow/signup" target="_blank"><img src="static/./images/social-twitter.png" alt="social icon"></a>
							<a href="https://in.pinterest.com/login/" target="_blank"><img src="static/./images/social-pinterest.png" alt="social icon"></a>
							<a href="https://www.youtube.com/" target="_blank"><img src="static/./images/social-youtube.png" alt="social icon"></a>
							<a href="https://twitter.com/i/flow/signup" target="_blank"><img src="static/./images/social-twitter.png" alt="social icon"></a>
						</div>
					</div>
				</div>
				<div class="footer-contact-form">
					<h5>Contact Form</h5>
					<h5>{{msg}}</h5>
					<form class="contact-form" action="contactm" method="POST">
						{% csrf_token %}
						<div class="contact-form__input">
							<input type="text" name="username" placeholder="Name">
							<input type="email" name="email" placeholder="Email">
						</div>
						<textarea></textarea>
						<input type="submit" name="submit" value="Submit" class="submit-button">
					</form>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="site-container footer-bottom-inner">
				<p>© 2019 Author | Design by <a href="https://freehtml5.co/" target="_blank">Tulsi Shah</a> | All rights Reserved.</p>
				<div class="footer-bottom__img">
					<img src="static/./images/footer-mastercard.png" alt="footer image">
					<a href="https://www.paypal.com/us/digital-wallet/ways-to-pay"><img src="static/./images/footer-paypal.png" alt="footer image"></a>
					<img src="static/./images/footer-visa.png" alt="footer image">
					<img src="static/./images/footer-fedex.png" alt="footer image">
					<img src="static/./images/footer-dhl.png" alt="footer image">
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end -->

	<!-- statics -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/slick.min.js"></script>
	<script src="static/js/main.js"></script>

</body>
</html>