<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<title>Author</title>
</head>
<body>
<section class="fh5co-books">
    <div class="site-container">
        <h2 class="universal-h2 universal-h2-bckg">Most Popular Book's Of</br>Premchand</h2>
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1394262999l/13372429.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Nirmala</h4>
                <span class="single-book__price">$15.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1338110152l/11692391.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Gaban</h4>
                <span class="single-book__price">$22.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://m.media-amazon.com/images/I/41QoDAeZUAL.jpg" height="380px" width="270px"alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Kaphan</h4>
                <span class="single-book__price">$25.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://kbimages1-a.akamaihd.net/6fbe4976-c23f-4a69-adcd-477b1727c161/1200/1200/False/godan.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Godaan</h4>
                <span class="single-book__price">$30.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
        </div>
        
    </div>


<section class="fh5co-books">
    <div class="site-container">
        
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://1.bp.blogspot.com/-bJJtZaAkeRw/YB6PX2jOz9I/AAAAAAAAPOs/kD7gpPtU2fwr6dcZSRZB860O6635C1wLgCNcBGAsYHQ/s260/download%2B%25282%2529.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">IdGah </h4>
                <span class="single-book__price">$45.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-eu.ssl-images-amazon.com/images/I/517sEoDulsL._SY264_BO1,204,203,200_QL40_ML2_.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Do Bailon Ki Katha <h4>
                <span class="single-book__price">$20.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://deeponlinestore.com/wp-content/uploads/2020/12/27e7a2c7-6013-4e2a-b562-4a7.jpg" height="380px" width="270px"alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Sevasadan</h4>
                <span class="single-book__price">$25.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/511OgACKvnL.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The world of Premchand</h4>
                <span class="single-book__price">$30.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>