<!doctype html>
<!--
	Author by FreeHTML5.co
	Twitter: https://twitter.com/fh5co
	Facebook: https://fb.com/fh5co
	URL: https://freehtml5.co
-->
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/slick.css">
	<title>Author</title>
</head>
<body>
<section class="fh5co-books">
    <div class="site-container">
        <h2 class="universal-h2 universal-h2-bckg">Most Popular Book's Of</br>Rabindranath Tagore</h2>
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81Uj7+K+r4L.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Gitanjali</h4>
                <span class="single-book__price">$15.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1338110152l/11692391.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Works of</br> Rabindranath Tagore</h4>
                <span class="single-book__price">$22.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61KRs7BDNyL.jpg" height="380px" width="270px"alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Short Stories</h4>
                <span class="single-book__price">$25.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://www.juggernaut.in/image/400x600/filters:format(webp):quality(60)/book_covers/966f04511b0043b3b368a2425abd8364.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Kabuliwala</h4>
                <span class="single-book__price">$30.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
        </div>
        
    </div>


<section class="fh5co-books">
    <div class="site-container">
        
        <div class="books">
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71IuKqyUFiL.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Stray Birds </h4>
                <span class="single-book__price">$45.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/412DAnwCbiL.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The Home and</br> the World <h4>
                <span class="single-book__price">$20.00</span>
                <!-- star rating -->
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
                <!-- star rating end -->
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://kbimages1-a.akamaihd.net/fb8b2232-eac1-4df3-9357-b8fae1e7c668/1200/1200/False/nationalism-36.jpg" height="380px" width="220px"alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">Nationalism</h4>
                <span class="single-book__price">$25.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
            <div class="single-book">
                <a href="#" class="single-book__img">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/511OgACKvnL.jpg" height="380px" width="270px" alt="single book and cd">
                    <div class="single-book_download">
                        <img src="static/./images/download.svg" alt="book image">
                    </div>
                </a>
                <h4 class="single-book__title">The world of Premchand</h4>
                <span class="single-book__price">$30.00</span>
                <div class="rating">
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                    <span>&#9734;</span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>